# credentials property file path
# ==============================
# credentials for this app are stored locally to prevent accidental commit of credentials to the repository.
#
# the credential property file should contain the following key-value pairs:
# parsecredentials.propertiesappid=au1233455d3898uudweibe39
# parseclientkey=23kd3i3323353312k89
appCredentialsFilePath=<path to app credentials file>

# release credentials property file path
# ======================================
# credentials for the keystore used to sign the release version of the app.
#
# The release credentials file should contain the following key-value pairs:
# keystoreFile=/Users/johndoe/credentials/sampleapp-release.keystore
# keystorePassword=abc123
# keyAlias=myKeyAlias
# keyPassword=abc123
releaseCredentialsFilePath=<path to release credentials file>